body {
    background: rgb(173, 204, 204);
    color: rgba(128, 135, 179, 0.865);
    padding: 10px;
    font-family: Bradley Hand, cursive;
}
#all-contents {
  max-width: 800px;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    background-color: #dbdef5;
}

/* navigation menu */
nav {
    background: rgb(211, 237, 237);
   margin: 0 auto;
   margin-bottom: 20px;
   margin-top: 10px;
    display: flex;
    padding: 10px;
    border-style: solid;
    border-radius: 58px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: #dbdef5;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
    text-align: center;
}

/* portfolio styles */
#interests {
    border: 4px lavenderblush;
    border-style: solid;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
#capy {
    border: 4px lavenderblush;
    border-style: solid;

}