
body {
  /* background-color: rgb(183, 224, 183); */
  font-family: fantasy;
}

#top {
color: aliceblue;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-image: url(dirt.jpeg);
}

#score, #highScore, #welcome {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  /* background-color: green; */
  /* background-image: url(worm.jpeg); */
  background-color: rgb(244, 192, 222);
  z-index: 2;
}

#snake-head {
  /* background-color: darkgreen; */
  background-color: rgb(192, 148, 152);
}

.apple {
  background-color: rgb(251, 15, 15);
  /* background-image: url(apple.jpeg); */
  z-index: 1;
}